<partial path="head.html"></partial>
<partial path="nav.html"></partial>
<main>
    <div class="banner">
        <div class="dummy"></div>
        <div class="banner-text">
            <div class="banner-title">Never Too Late</div>
            <div class="banner-subtitle">Willford, Holden Redd & ROMIN (feat. Sebastian S)</div>
            <div class="banner-cta">
                <a href="">out now</a> <!--todo add href-->
            </div>
        </div>
        <span>
            <i class="fas fa-arrow-down"></i>
            <p>scroll down</p>
            <i class="fas fa-arrow-down"></i>
        </span>
    </div>
</main>
<partial path="foot.html"></partial>
