<footer class="foot"> <!-- TODO: alter foot styling -->
    <div class="container">
        <a href="{root}" class="brand">
            <img src="{root}img/logo.png" alt="BlueBird Logo">
        </a>
        <div class="whitelabel">
            <div class="copy">&copy; 2020 BlueBird Records.</div>
            <div>Website made by <a class="cta white" href="https://www.youtube.com/willford-music" target="_blank">William Ford</a></div>
        </div>
    </div>
</footer>
<script src="{root}libs.js"></script>
<script src="{root}main.js"></script>
</body>
</html>
