<nav class="nav" id="nav">
    <div class="container">
        <div class="mobile-nav">
            <span id="mobile-nav-toggle"><i class="fas fa-bars"></i></span>
            <a class="nav-brand-mobile" href="{root}"><img src="{root}img/logo-black.png" alt="BlueBird Logo"></a>
        </div>

        <div class="nav-collapse" id="nav-collapse">
            <ul class="nav-list">
                <li id="nav-item-home" class="nav-item hidden">
                    <a href="{root}">Home</a>
                </li>
                <li id="nav-item-music" class="nav-item hidden">
                    <a href="{root}music/">Music</a>
                </li>
                <li id="nav-item-brand" class="nav-item brand">
                    <a href="{root}"><img src="{root}img/logo-black.png" alt="BlueBird Logo"></a>
                </li>
                <li id="nav-item-artists" class="nav-item hidden">
                    <a href="{root}artists/">Artists</a>
                </li>
                <li id="nav-item-demo" class="nav-item hidden">
                    <a href="{root}demo/">Send a Demo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
